@page "/Api/Usuario/Crear"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;

<!DOCTYPE html>
<html>
        
    <head>
        <title>Usuarios</title>

    </head>

    <body>
        
        <header>
            <h1> Crear nuevo usuarios</h1>
        </header>

        <main>

            <EditForm Model="usuario" OnValidSubmit="Grabar">
                <DataAnnotationsValidator />

                <div class="form-group">
                <label for="TextoComentario">Nombre</label>
                    <div>
                        <InputText class="form-control" @bind-Value="usuario.Nombre" />
                        <ValidationMessage For="@(() => usuario.Nombre)" />
                    </div>
                </div> 
                
                <div class="form-group">
                <label for="TextoComentario">CorreoElectronico_Usuario</label>
                    <div>
                        <InputText class="form-control" @bind-Value="usuario.CorreoElectronico_Usuario" />
                        <ValidationMessage For="@(() => usuario.CorreoElectronico_Usuario)" />
                    </div>
                </div>
                
                <div class="form-group">
                <label for="TextoComentario">Contrasenia</label>
                    <div>
                        <InputText class="form-control" @bind-Value="usuario.Contrasenia" />
                        <ValidationMessage For="@(() => usuario.Contrasenia)" />
                    </div>
                </div>
                
                <div class="form-group">
                <label for="TextoComentario">FotoPerfil</label>
                    <div>
                        <InputFile class="form-control" @bind-Value="usuario.FotoPerfil" />
                        <ValidationMessage For="@(() => usuario.FotoPerfil)" />
                    </div>
                </div>
                
                <div class="form-group">
                <label for="TextoComentario">FechaRegistro</label>
                    <div>
                        <InputDate class="form-control" @bind-Value="usuario.FechaRegistro" />
                        <ValidationMessage For="@(() => usuario.FechaRegistro)" />
                    </div>
                </div>
                
                <div class="form-group">
                <label for="TextoComentario">Rol</label>
                    <div>
                        <InputText class="form-control" @bind-Value="usuario.Rol" />
                        <ValidationMessage For="@(() => usuario.Rol)" />
                    </div>
                </div>

                

                <button class="btn btn-primary" type="submit">Registrar usuario</button>
                <button class="btn btn-secondary" @onclick="Cancelar">Ver lista</button>

            </EditForm>

        </main>
            
        <footer>
            <p>® Todos los derechos reservados ®</p>
        </footer>
    
    </body>

</html>

@code {
    private Usuario usuario = new Usuario();

    private async Task Grabar()
    {
        var httpRespuesta = await http.Post<Usuario>("api/Usuario", usuario);

        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.httpResponseMessage;

            navigationManager.NavigateTo("/Api/ListaUsuarios");
        }
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/Api/ListaUsuarios");
    }
}
