@page "/Api/Mascota/Crear"
@inject IHTTPServicio http;
@inject NavigationManager navigationManager;

<html>

    <head>
        <title>Mascota </title>
    </head>

    <body>

        <header>
            <h1>Mascota </h1>
        </header>

        <main>

            <EditForm Model="mascota" OnInvalidSubmit="Grabar">
                <DataAnnotationsValidator />

                <div class="form-group">
                    <label for="TextoComentario">Nombre</label>
                    <div>
                        <InputText class="form-control" @bind-Value="mascota.Nombre" />
                        <ValidationMessage For="@(() => mascota.Nombre)" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="TextoComentario">Raza</label>
                    <div>
                        <InputText class="form-control" @bind-Value="mascota.Raza" />
                        <ValidationMessage For="@(() => mascota.Raza)" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="TextoComentario">Edad</label>
                    <div>
                        <InputNumber class="form-control" @bind-Value="mascota.Edad" />
                        <ValidationMessage For="@(() => mascota.Edad)" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="TextoComentario">Tamaño</label>
                    <div>
                        <InputText class="form-control" @bind-Value="mascota.Tamaño" />
                        <ValidationMessage For="@(() => mascota.Tamaño)" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="TextoComentario">Foto</label>
                    <div>
                        <InputFile class="form-control" @bind-Value="mascota.Foto" />
                        <ValidationMessage For="@(() => mascota.Foto)" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="TextoComentario">Necesidades especiales</label>
                    <div>
                        <InputTextArea class="form-control" @bind-Value="mascota.NecesidadesEspeciales" />
                        <ValidationMessage For="@(() => mascota.NecesidadesEspeciales)" />
                    </div>
                </div>



                <button class="btn btn-primary" type="submit">Añadir mascota</button>
                <button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>

            </EditForm>

        </main>

        <footer>
            <p>® Todos los derechos reservados ®</p>
        </footer>

    </body>

</html>

@code {
    private Mascota mascota = new Mascota();

    private async Task Grabar()
    {
        var httpRespuesta = await http.Post<Mascota>("api/Mascota", mascota);

        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.httpResponseMessage;

            navigationManager.NavigateTo("/Api/ListaMascotas");
        }
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/Api/ListaMascotas");
    }
}
